/*---------------------------------BIGFIIT-------------------------------------*/
#bigfiit {
  width: 60%;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  padding: 30px;
}

#bigfiit h1 {
  color: #ed7990;
}

#bigfiit img {
  margin: auto;
  width: 25%;
}

#bigfiit #maquettes {
  display: flex;
}

@media (max-width: 800px) {
  #bigfiit #maquettes {
    flex-direction: column;
  }

  #bigfiit #maquettes img {
    margin: auto;
    padding: 5px;
    width: 80%;
  }
}

@media (min-width: 801px) {
  #bigfiit #maquettes {
    flex-direction: row;
  }

  #bigfiit #maquettes img {
    margin: auto;
    padding: 5px;
    width: 40%;
  }
}

#bigfiit #maquettes img {
  margin: auto;
  padding: 5px;
}

#bigfiit h2 {
  color: #ed7990;
}

#bigfiit h3 {
  color: #757575;
}

#bigfiit p {
  margin: auto;
  width: 80%;
  text-align: justify;
}

/*---------------------------------DIVIDERS-------------------------------------*/

.divider {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

.dividerT2 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
}

/*---------------------------------BUTTONS-------------------------------------*/

.back {
  margin-top: 20px;
  color: #757575;
  border: 1px solid #757575;
}

.more {
  margin-bottom: 40px;
  color: #757575;
  border: 1px solid #757575;
}

.more:hover {
  color: #ed7990;
  border: 1px solid #ed7990;
}

