<div id="bigfiit">
  <a class="back" mat-button routerLink="/projets"><mat-icon>arrow_back</mat-icon></a>
  <h1>Projet professionnel Big Fiit</h1>
  <h3>Avec KNS</h3>
  <img id="logo" alt="Logo Big Fiit" src="assets/images/bigfiit.png">
  <h2>L'objectif</h2>
  <p>
    L’objectif principal du projet est de mettre à disposition des salles de sport et de leurs adhérents une plateforme
    ergonomique, personnalisable, performante et sécurisée. Cette plateforme permet aux salles de sport de développer
    leur activité et leur chiffre d’affaires, en proposant à leurs adhérents des cours de sport en ligne, moyennant le paiement
    d’un abonnement au prix et à la durée fixés par la salle.
  </p>
  <hr class="dividerT2">
  <p>
    Face à la pandémie de Covid-19, Big Fiit a également pour objectif de porter secours aux salles de sport qui ont dû
    fermer leurs portes pendant une longue période entre 2020 et 2021, et se sont retrouvées dans une situation financière précaire.
    Grâce à Big Fiit, les salles peuvent donc espérer conserver au moins une partie de leurs précédents adhérents, mais aussi en
    attirer de nouveaux, en leur offrant la possibilité de suivre des cours de sport depuis chez eux, respectant ainsi les gestes barrières.
  </p>
  <hr class="dividerT2">
  <p>
    Afin d'être attractif pour les Abonnés et d’offrir une expérience utilisateur optimisée, Big Fiit se fonde
    sur les codes des plateformes de streaming et de VOD (vidéo à la demande). La plateforme bénéficie par ailleurs
    d’un responsive design. La plateforme utilise JWplayer afin d’assurer en toute circonstance la qualité vidéo
    et la programmation de Big Fiit se fait avec le Framework JavaScript open source Angular.
  </p>
  <hr class="dividerT2">
  <a class="more" mat-button href="https://www.bigfiit.com" target="_blank">Visiter la plateforme</a>
  <h2>Ma contribution</h2>
  <hr class="dividerT2">
  <p>
    J'ai activement participé sur l'aspect adaptatif de la plateforme sur les supports mobiles. Grâce aux requêtes média, il est aisé
    de modifier l'apparence du site en fonction du type d'appareil ou de ses caractéristiques.
  </p>
  <hr class="dividerT2">
  <p>
    Lors de présentation de fonctionnalités, j'ai réalisé des maquettes tout en suivant la charte graphique et l'esprit de la plateforme.
    Mes maquettes pour les pages web de paiement en ligne ainsi que celle présentant l'interface de streaming ont servi de support pour le
    développement de la plateforme.
  </p>
  <hr class="dividerT2">
  <div id="maquettes">
    <img src="assets/images/build.jpg" alt="En construction">
    <img src="assets/images/build.jpg" alt="En construction">
  </div>
  <sub>
    Les maquettes arrivent bientôt !
    <!--Les maquettes ne sont qu'un aperçu du produit final, mais ne sont en aucun cas contractuel.-->
  </sub>
  <hr class="dividerT2">
  <p>
    Cependant, la contribution sur le développement de la plateforme est collectif. En effet, nous sommes actuellement trois développeurs.
    Il serait irrespectueux de s'attribuer le seul mérite d'un travail commun et partagé. C'est l'ensemble de compétences, Front-End, Back-End et Full Stack,
    qui font avancer le site web.
  </p>
  <hr class="dividerT2">
  <p>
    Mon statut de développeur Front affirme que je travail principalement sur l'aspect visuel et responsive du site. Mais il est également possible
    que dans certains cas je travail sur la partie Back-End. Cette plateforme oblige chaque développeur a être davantage polyvalent et
    opérationnel sur l'ensemble des points que demande le développement web.
  </p>
</div>
<app-footer></app-footer>
