/*---------------------------------BIGFIIT-------------------------------------*/
#bigfiit {
  width: 60%;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  padding: 30px;
}

#bigfiit h1 {
  color: #F2BDC7;
}

#bigfiit img {
  margin: auto;
  width: 25%;
}

#bigfiit #maquettes {
  display: flex;
}

@media (max-width: 800px) {
  #bigfiit #maquettes {
    flex-direction: column;
  }

  #bigfiit #maquettes img {
    margin: auto;
    padding: 5px;
    width: 80%;
  }
}

@media (min-width: 801px) {
  #bigfiit #maquettes {
    flex-direction: row;
  }

  #bigfiit #maquettes img {
    margin: auto;
    padding: 5px;
    width: 40%;
  }
}

#bigfiit #maquettes img {
  margin: auto;
  padding: 5px;
}

#bigfiit h2 {
  color: #F2BDC7;
}

#bigfiit h3 {
  color: #757575;
}

#bigfiit p {
  margin: auto;
  width: 80%;
  text-align: justify;
}

/*---------------------------------DIVIDERS-------------------------------------*/

.divider {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

.dividerT2 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
}

/*---------------------------------BUTTONS-------------------------------------*/

.back {
  margin-top: 20px;
  color: #757575;
  border: 1px solid #757575;
}

.more {
  margin-bottom: 40px;
  color: #757575;
  border: 1px solid #757575;
}

.more:hover {
  color: #F2BDC7;
  border: 1px solid #F2BDC7;
}

/*div {
  background: rgb(226, 209, 222);
}

.text {
  padding-left: 50px;
  padding-right: 50px;
}

.text p{
  margin-bottom: 0;
  padding: 5px;
}

.text ol ul {
  padding-bottom: 10px;
}

.text ol ul li {
  list-style-image: url("../../../assets/images/bigfiitlist.png");
}

.center {
  text-align: center;
}

.title {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
}

@media (min-width: 801px) {
  .title {
    color: rgb(229, 2, 164);
  }

  .text h2{
    background: #e502a4;
    color: #FFFFFF;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .title {
    text-align: center;
    background: rgb(229, 2, 164);
    font-size: 25px;
  }

  .text h2{
    margin-top: 10px;
    color: #e502a4;
    text-align: center;
  }

  .center img{
    width: 30%;
  }
}*/
