<div id="bigfiit">
  <a class="back" mat-button routerLink="/projets"><mat-icon>arrow_back</mat-icon></a>
  <h1>Projet professionnel Big Fiit</h1>
  <h3>Avec KNS</h3>
  <img id="logo" alt="Logo Big Fiit" src="assets/images/bigfiit.png">
  <h2>L'objectif</h2>
  <p>
    L’objectif principal du projet est de mettre à disposition des salles de sport et de leurs adhérents une plateforme
    ergonomique, personnalisable, performante et sécurisée. Cette plateforme permettra aux salles de sport de développer
    leur activité et leur chiffre d’affaires, en proposant à leurs adhérents des cours de sport en ligne, moyennant le paiement
    d’un abonnement au prix et à la durée fixés par la salle.
  </p>
  <hr class="dividerT2">
  <p>
    Face à la pandémie de Covid-19, Big Fiit a également pour objectif de porter secours aux salles de sport qui ont dû
    fermer leurs portes pendant une longue période entre 2020 et 2021, et se sont retrouvées dans une situation financière précaire.
    Grâce à Big Fiit, les salles peuvent donc espérer conserver au moins une partie de leurs précédents adhérents, mais aussi en
    attirer de nouveaux, en leur offrant la possibilité de suivre des cours de sport depuis chez eux, respectant ainsi les gestes barrières.
  </p>
  <hr class="dividerT2">
  <p>
    Il est donc important de noter que Big Fiit s’adresse à deux cibles, les salles de sport d’un côté, qui seront appelées “Clients”
    au cours de ce projet, et les adhérents de l’autre, qui seront appelés “Abonnés”. Cette distinction aura notamment un impact sur les
    éléments de développement du projet, puisque certaines fonctionnalités ne seront applicables qu'à une seule cible, ou parfois aux deux,
    mais présentées de façon différente.
  </p>
  <hr class="dividerT2">
  <p>
    Afin d'être attractif pour les Abonnés et d’offrir une expérience utilisateur optimisée, Big Fiit se fondera
    sur les codes des plateformes de streaming et de VOD (vidéo à la demande). La plateforme bénéficiera par ailleurs
    d’un responsive design.
  </p>
  <hr class="dividerT2">
  <p>
    L’enjeu pour Big Fiit est également de proposer un service assez attractif pour que les salles de sport estiment l’investissement
    dans la plateforme rentable (principalement un investissement en temps, comme pour le tournage de vidéos de cours, l’organisation
    du contenu, etc.). Ainsi, Big Fiit permettra aux gérants de salles de sport de créer simplement et gratuitement leur salle de sport
    en ligne, d’y ajouter le contenu de leur choix (photo, vidéo, etc.) et de gérer librement leurs tarifs d’abonnement. L’accès à la
    plateforme ne sera payant que pour les Abonnés, selon les tarifs définis par les salles, dont une partie fixe servira à rémunérer
    les frais de fonctionnement de Big Fiit. Par ailleurs, en soutien à la filière du sport face aux conséquences de la Covid-19, il
    est prévu que Big Fiit sera entièrement gratuit, y compris pour les Abonnés, jusqu'à fin 2020.
  </p>
  <hr class="dividerT2">
  <a class="more" mat-button href="https://www.bigfiit.com" target="_blank">Visiter la plateforme</a>
</div>

<!--<div class="title">
  <span>Mon projet professionnel Big Fiit</span>
</div>
<div class="center">
  <img id="logo" alt="Logo Big Fiit" src="assets/images/bigfiit.png">
</div>
<div class="title">
  L'objectif
</div>
<div class="text">
  <p>
    L’objectif principal du projet est de mettre à disposition des salles de sport et de leurs adhérents une plateforme
    ergonomique, personnalisable, performante et sécurisée. Cette plateforme permettra aux salles de sport de développer
    leur activité et leur chiffre d’affaire, en proposant à leurs adhérents des cours de sport en ligne, moyennant le paiement
    d’un abonnement au prix et à la durée fixés par la salle.
  </p>
  <p>
    Face à la pandémie de Covid-19, Big Fiit a également pour objectif de porter secours aux salles de sport qui ont dû
    fermer leurs portes pendant une longue période entre 2020 et 2021, et se sont retrouvées dans une situation financière précaire.
    Grâce à Big Fiit, les salles peuvent donc espérer conserver au moins une partie de leurs précédents adhérents, mais aussi en
    attirer de nouveaux, en leur offrant la possibilité de suivre des cours de sport depuis chez eux, respectant ainsi les gestes barrières.
  </p>
  <p>
    Il est donc important de noter que Big Fiit s’adresse à deux cibles, les salles de sport d’un côté, qui seront appelés “Clients”
    au cours de ce projet, et les adhérents de l’autre, qui seront appelés “Abonnés”. Cette distinction aura notamment un impact sur les
    éléments de développement du projet, puisque certaines fonctionnalités ne seront applicables qu'à une seule cible, ou parfois aux deux,
    mais présentées de façon différente.
  </p>
  <p>
    Les Clients et Abonnés utiliseront Big Fiit pour des objectifs distincts :
  </p>
    <ol>
      <li>Les salles de sport (Clients) exploiteront la plateforme afin de :</li>
      <ul>
        <li>Maintenir voire augmenter leur chiffre d’affaire ;</li>
        <li>Proposer du contenu innovant et l’organiser par playlists et catégories de leur choix ;</li>
        <li>Conserver leurs adhérents actuels et en attirer de nouveaux ;</li>
        <li>Faire de la publicité pour leur enseigne ;</li>
      </ul>
      <li>Les adhérents (Abonnés) s’inscriront à une ou plusieurs salles de sport virtuelles dans l’objectif de :</li>
      <ul>
        <li>Accéder en ligne, à l’endroit, à l’heure et sur le support souhaité, à du contenu exclusif relatif au sport, à la nutrition ou au bien-être, préparé par des coachs qu’ils connaissent ;</li>
        <li>Continuer ou commencer une activité sportive pour conserver une bonne santé physique et morale ;</li>
        <li>Suivre un programme personnalisé ;</li>
      </ul>
    </ol>
  <p>
    Afin d'être attractif pour les Abonnés et d’offrir une expérience utilisateur optimisée, Big Fiit se fondera
    sur les codes des plateformes de streaming et de VOD (vidéo à la demande). La plateforme bénéficiera par ailleurs
    d’un responsive design.
  </p>
  <p>
    L’enjeu pour Big Fiit est également de proposer un service assez attractif pour que les salles de sport estiment l’investissement
    dans la plateforme rentable (principalement un investissement en temps, comme pour le tournage de vidéos de cours, l’organisation
    du contenu, etc.). Ainsi, Big Fiit permettra aux gérants de salles de sport de créer simplement et gratuitement leur salle de sport
    en ligne, d’y ajouter le contenu de leur choix (photo, vidéo, etc.) et de gérer librement leurs tarifs d’abonnement. L’accès à la
    plateforme ne sera payant que pour les Abonnés, selon les tarifs définis par les salles, dont une partie fixe servira à rémunérer
    les frais de fonctionnement de Big Fiit. Par ailleurs, en soutière à la filière du sport face aux conséquences de la Covid-19, il
    est prévu que Big Fiit sera entièrement gratuit, y compris pour les Abonnés, jusqu'à fin 2020.
  </p>
</div>
<div class="title">
  Les logiciels
</div>
<div class="text">
  <h2>Jira</h2>
  <p>
    De nos jours, de plus en plus d'équipes développent de manière itérative, et Jira Software constitue le hub central pour les phases de
    programmation, de collaboration et de livraison. Pour la gestion des tests, Jira s'intègre avec diverses extensions afin d'inclure de
    façon transparente les tests dans le cycle de développement. Les équipes peuvent réaliser des tests efficaces et itératifs. Les équipes
    utilisent des tickets Jira, des écrans personnalisés, des champs et des workflows pour gérer les tests manuels et automatisés. Lorsque
    le code de production est prêt à être déployé, les informations sur l'état apparaissent en temps réel dans le ticket Jira. Des outils
    intégrés de feature flagging permettent aux équipes de déployer de nouvelles fonctionnalités progressivement et en toute sécurité.
  </p>
  <p>
    Pour les équipes qui adoptent des méthodologies Agile, Jira Software fournit des tableaux Scrum et Kanban prêts à l'emploi. Les tableaux
    constituent des centres de gestion des tâches, dans lesquels les tâches sont mappées à des workflows personnalisables. Ils assurent la transparence
    du travail d'équipe et offrent une visibilité sur l'état d'avancement de chaque tâche. Des fonctions de suivi du temps et des rapports de
    performance en temps réel (graphiques Burnup/Burndown, rapports de sprint, graphiques de vélocité) permettent aux équipes de surveiller étroitement
    leur productivité au fil du temps. Avec toutes les informations relatives au projet à un seul et même endroit, vous pouvez générer des rapports
    pour suivre l'avancement, la productivité et vous assurer qu'il n'y a aucun dérapage.
  </p>
  <h2>Méthode Agile</h2>
  <p>
    Cette méthode met au cœur de son fonctionnement la relation entre le client et l'équipe projet, qui vont pouvoir constamment adapter le produit
    ou le concept. Utilisée au départ principalement par les équipes de développeurs, elle est de plus en plus adoptée et adaptée à d'autres métiers.
  </p>
  <p>
    Dans le cadre de Big Fiit, QoKagne a une approche agile se caractérisant par des livraisons régulières, beaucoup de flexibilité et des planifications
    en “sprints” (qui sont des itérations de développement) d’une semaine en moyenne.
  </p>
  <h2>Webstorm</h2>
  <p>
    WebStorm est l’IDE (l'integrated development environment, un panel d'outils dédiés à la programmation) que j’utilise pour développer sur le projet
    BigFiit. Etant donné que le projet est sous Angular 9, WebStorm est l’IDE par excellent pour développer sur ce type de projet.
  </p>
  <p>
    Cet IDE offre une assistance avancée au codage pour Angular, React, Vue.js et Meteor. L'IDE analyse le projet pour fournir les meilleurs résultats
    de saisie automatique du code pour tous les langages pris en charge. Des centaines d'inspections intégrées signalent tous les problèmes possibles
    pendant la saisie et suggèrent des options de correctifs rapides. WebStorm aide à parcourir plus efficacement le code et à gagner du temps sur le
    travail de gros projets. Il permet d’accéder à une définition de méthode, fonction ou variable en un seul clic, ou à rechercher les utilisations.
  </p>
  <p>
    WebStorm fournit une interface utilisateur unifiée qui permet de travailler avec les systèmes de contrôle de version les plus populaires. Il permet
    entre autres une expérience utilisateur cohérente avec GitHub. L’IDE possède un historique local qui peut sauvegarder le code. Il est possible
    d’inspecter à n'importe quel moment l'historique d'un fichier ou d'un dossier, et revenir à n'importe laquelle de ses versions précédentes.
  </p>
  <h2>Bitbucket</h2>
  <p>
    En parallèle de Jira, nous utilisons l’outil d’Atlassian : Bitbucket. C’est la zone spécifique au développement où toutes les informations transitent
    et que les données se coordonnent, que les traitements se font, ainsi que les déploiements et les résolutions en cas d’échecs.
  </p>
  <p>
    Bitbucket est plus qu'un simple outil de gestion du code Git. Avec Bitbucket, les équipes disposent d'un espace unique où planifier des projets,
    collaborer autour du code, tester et déployer.
  </p>
  <p>
    Grâce à cet outil, nous pouvons déterminer qui est l’auteur du commit, son identifiant, le message transmis avec le commit, sa date et aussi sa
    construction si c’est un succès ou un échec.
  </p>
  <h2>Adobe XD</h2>
  <p>
    Adobe XD donne accès à toute une série d’outils qui simplifient la conception de sites web, d’applications, de commandes vocales, et bien plus encore.
    Le logiciel permet d’esquisser rapidement des wireframes, des maquettes et de créer des designs très fidèles pour n’importe quel écran. Il rend possible
    d’ajouter des animations, de créer des prototypes interactifs et de les tester sur tous les appareils.
  </p>
  <p>
    Adobe XD est le logiciel utilisé pour le projet afin de pré-visualiser une interface et ses enchaînements de fonctionnalités. C’est une grande aide
    pour le développement, cela permet de voir et comprendre en amont comment la programmation va être prévue. Pour le reste de l'équipe cela permet de comprendre
    le fonctionnement choisi et si les pages suivent la charte graphique du projet.
  </p>
</div>
-->
