/*---------------------------------FOOTER-------------------------------------*/
#footer {
  width: 60%;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  padding: 30px;
  color: #757575;
  bottom: 0;
}

/*---------------------------------FOOTER>INFOS-------------------------------------*/

#footer #infos {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer #infos a {
  text-decoration: none;
  color: #757575;
  margin: 10px;
}

#footer #infos a:hover {
  color: #ed7990;
}

/*---------------------------------FOOTER>PLAN-------------------------------------*/

#footer #plan {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer #plan a {
  text-decoration: none;
  color: #757575;
  margin: 10px;
}

#footer #plan a:hover {
  color: #ed7990;
}

/*---------------------------------FOOTER>SOCIAL-------------------------------------*/

#footer #social a {
  height: 40px;
  width: 40px;
  color: #757575;
  border: 1px solid #757575;
  border-radius: 50px;
  margin: 10px;
}

#footer #social a:hover {
  color: #ed7990;
  border: 1px solid #ed7990;
}

/*---------------------------------DIVIDERS-------------------------------------*/

.divider {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

.dividerT2 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
}


/*mat-toolbar {
  display: flex;
  flex-direction: column;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border-top: 1px solid #333333;
  margin-top: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #333333;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#footer div {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  text-align: center;
  font-size: 16px;
}

#footer div a{
  text-decoration: none;
  color: #FF9360;
}

#footer #infos a{
  text-decoration: none;
  color: #8cc043;
}

#social img {
  height: 20px!important;
  width: 20px;
}

@media (min-width: 801px) {
  #footer div a:hover{
    color: #FFFFFF;
  }

  mat-toolbar img {
    height: 15%;
  }

  mat-toolbar {
    height: 400px;
  }
}

@media (max-width: 800px) {
  #footer div a:active{
    color: #FFFFFF;
  }

  mat-toolbar img {
    height: 10%;
  }

  mat-toolbar {
    height: 380px;
  }
}*/
