<div id="footer">
  <hr class="divider">
  <div>
    <span>© Laura Lyotard 2021</span>
  </div>
  <div id="infos">
    <a routerLink="/politique-de-confidentalite">Confidentialité</a>
    <a routerLink="/conditions-generales-d-utilisation">CGU</a>
    <a routerLink="/mises-a-jour">Mises à jour</a>
  </div>
  <div id="plan">
    <a routerLink="">Accueil</a>
    <a routerLink="/experiences">Expériences</a>
    <a routerLink="/projets">Projets</a>
    <a routerLink="/cv">CV</a>
    <a routerLink="/contact">Contact</a>
  </div>
  <hr class="divider">
  <div id="social">
    <a mat-button href="mailto:contact@lauralyotard.fr" matTooltip="M'écrire un e-mail"><mat-icon>alternate_email</mat-icon></a>
    <a mat-button href="https://www.linkedin.com/in/laura-lyotard-2454541aa/?originalSubdomain=fr" target="_blank" matTooltip="Mon profil Linkedin"><mat-icon>person_add_alt</mat-icon></a>
    <a mat-button href="https://trello.com/b/kgywew7D/roadmap-lauralyotardfr" target="_blank" matTooltip="Ma feuille de route"><mat-icon>edit_road</mat-icon></a>
    <a mat-button href="https://github.com/lauralyotard/my-app" target="_blank" matTooltip="Mon Git repository du site"><mat-icon>api</mat-icon></a>
  </div>
</div>

