<div id="footer">
  <hr class="divider">
  <div>
    <span>© Univhair 2021</span>
  </div>
  <div id="infos">
    <a routerLink="/politique-de-confidentalite">Confidentialité</a>
    <a routerLink="/conditions-generales-d-utilisation">CGU</a>
    <a routerLink="/mises-a-jour">Mises à jour</a>
  </div>
  <div id="plan">
    <a routerLink="">Accueil</a>
    <a routerLink="/horaires">Horaires</a>
    <a routerLink="/photos">Galerie</a>
    <a routerLink="/contact">Contact</a>
  </div>
  <hr class="divider">
  <div id="social">
    <a mat-button href="https://www.google.fr/maps/place/Univ'Hair/@45.0000897,4.0025633,17z/data=!3m1!4b1!4m5!3m4!1s0x47f5f4068235eae9:0xb3fbfea9ffb9bd4f!8m2!3d45.0001114!4d4.0047791" target="_blank"><mat-icon>location_on</mat-icon>Localiser</a>
    <a mat-button href="tel:+330471055020"><mat-icon>call</mat-icon>Rendez-vous</a>
    </div>
</div>

