/*---------------------------------FOOTER-------------------------------------*/
#footer {
  width: 80%;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  padding: 30px;
  color: #333333;
  bottom: 0;
}

/*---------------------------------FOOTER>INFOS-------------------------------------*/

#footer #infos {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer #infos a {
  text-decoration: none;
  color: #333333;
  margin: 10px;
}

#footer #infos a:hover {
  color: #56718e;
}

/*---------------------------------FOOTER>PLAN-------------------------------------*/

#footer #plan {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer #plan a {
  text-decoration: none;
  color: #333333;
  margin: 10px;
}

#footer #plan a:hover {
  color: #56718e;
}

/*---------------------------------FOOTER>SOCIAL-------------------------------------*/

#footer #social a {
  height: 40px;
  width: 100px;
  color: #333333;
  margin: 10px;
}

#footer #social a:hover {
  color: #56718e;
}

/*---------------------------------DIVIDERS-------------------------------------*/

.divider {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

.dividerT2 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
}

