<div id="footer">
  <hr class="divider">
  <div>
    <span>© Laura Lyotard 2021</span>
  </div>
  <div id="infos">
    <a routerLink="/politique-de-confidentalite">Confidentialité</a>
    <a routerLink="/conditions-generales-d-utilisation">CGU</a>
    <a routerLink="/mises-a-jour">Mises à jour</a>
  </div>
  <div id="plan">
    <a routerLink="">Accueil</a>
    <a routerLink="/projets">Projets</a>
    <a routerLink="/experiences">Expériences</a>
    <a routerLink="/cv">CV</a>
    <a routerLink="/contact">Contact</a>
  </div>
  <hr class="divider">
  <div id="social">
    <a mat-button href="mailto:contact@lauralyotard.fr"><mat-icon>alternate_email</mat-icon></a>
    <a mat-button href="https://www.linkedin.com/in/laura-lyotard-2454541aa/?originalSubdomain=fr" target="_blank"><mat-icon>person_add_alt</mat-icon></a>
    <a mat-button href="https://trello.com/b/kgywew7D/roadmap-lauralyotardfr" target="_blank"><mat-icon>edit_road</mat-icon></a>
  </div>
</div>
<!--
<mat-toolbar>
  <div>
    <span>© Laura Lyotard 2021</span>
  </div>
  <div id="social">
    <a href="https://www.linkedin.com/in/laura-lyotard-2454541aa/?originalSubdomain=fr" target="_blank"><img src="assets/images/link.png" alt="Linkedin"></a>
  </div>
  <div id="footer">
    <div>
      <h3>Plan du site</h3>
      <a routerLink="">Accueil</a>
      <a routerLink="/parcours">Mon parcours</a>
      <a routerLink="/projets">Mes projets</a>
      <a routerLink="/who-i-am">Ma présentation</a>
      <a routerLink="/bigfiit">Big Fiit</a>
      <a href="https://trello.com/b/kgywew7D/roadmap-lauralyotardfr" target="_blank">Road Map</a>
    </div>
    <div id="infos">
      <h3>Infos</h3>
      <a routerLink="/politique-de-confidentalite">Confidentialité</a>
      <a routerLink="/conditions-generales-d-utilisation">CGU</a>
      <a routerLink="/mises-a-jour">Mises à jour</a>
    </div>
    <div>
      <h3>Contact</h3>
      <a href="mailto:contact@lauralyotard.fr">Me contacter</a>
      <a href="https://www.google.com/maps/d/edit?mid=1myKE2Id44CtYpKI90BxBfPYAzFdc1xgc&usp=sharing" target="_blank">Zone d'Activités</a>
    </div>
  </div>
  <img src="assets/images/logo_small_icon_only.png" alt="logo_lauralyotard">
</mat-toolbar>
-->
