div {
  color: #FFFFFF;
  background: #333333;
}

.title {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  color: #FF9360;
}

.text {
  padding-left: 50px;
  padding-right: 50px;
}

.text h2{
  color: #8cc043;
}

.text p{
  margin-bottom: 0;
  padding: 5px;
}

.text ul{
  margin-bottom: 0;
  padding-bottom: 20px;
}

#responsive {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
