<div class="title">
  <span>Mes forces</span>
</div>
<div id="responsive">
  <div class="text">
    <h2>Compétences</h2>
    <ul>
      <li>HTML/CSS/SCSS</li>
      <li>JavaScript/TypeScript</li>
      <li>PHP</li>
      <li>SQL</li>
      <li>C#</li>
      <li>Python</li>
      <li>Angular</li>
      <li>Symfony</li>
      <li>Android Studio</li>
      <li>Photoshop</li>
    </ul>
  </div>
  <div class="text">
    <h2>Atouts</h2>
    <ul>
      <li>Patiente</li>
      <li>Autonome</li>
      <li>Rigoureuse</li>
      <li>Organisée</li>
    </ul>
  </div>
  <div class="text">
    <h2>Langues</h2>
    <ul>
      <li>Français courant</li>
      <li>Anglais confirmé</li>
      <li>Italien débutant</li>
    </ul>
  </div>
</div>
