<div id="univhair">
  <a class="back" mat-button routerLink="/projets"><mat-icon>arrow_back</mat-icon></a>
  <h1>Projet de site vitrine pour le salon de coiffure Univ'hair</h1>
  <h2>L'objectif</h2>
  <p>
    L’objectif principal du projet est de réaliser un site vitrine pour un salon de coiffure. Il faut présenter ses horaires d'ouvertures,
    sa grille tarifaire, un numéro pour la prise de rendez vous ainsi qu'une carte d'accessibilité. Le site doit aussi présenter des photos
    de coiffure et des produits mis en avant par le salon.
  </p>
  <hr class="dividerT2">
  <p>
    Le site est développé avec le Framework Symfony sur l'architecture logicielle Modèle-Vue-Contrôleur.
  </p>
  <hr class="dividerT2">
  <p>
    Le site possède une base de données MySQL pour enregistrer les horaires d'ouvertures ou de fermetures exceptionnels, les produits et
    les photos ajoutées par le salon de coiffure. Le site contient une page de connexion pour accéder aux formulaires d'ajout de dates, produits et photos. Il faut sécuriser les accès et
    contrôler l'authentification de l'utilisateur.
  </p>
  <hr class="dividerT2">
  <p>
     La charte graphique est constituée de couleur aux tons chauds, avec couleurs brunes, à l'image du salon. Une ambiance chaleureuse appuyé
    par les polices d'écriture manuscriture. Le site reflète un aspect convivial et authentique.
  </p>
  <div>
    <img src="assets/images/univhair.png" alt="Carte de visite Univ'hair">
  </div>
  <sub>
    La carte de visite pour base de charte graphique.
  </sub>
  <hr class="dividerT2">
  <h2>Présentation du site</h2>
  <p>
    Le site étant en maintenance pour restructuration, il n'est pas accessible en ligne. Cependant je peux partager des captures du site local.
  </p>
  <hr class="dividerT2">
  <div class="maquettes">
    <img src="assets/images/univhair_site.png" alt="Site accueil Univ'hair">
    <img src="assets/images/univhair_identifie.png" alt="Site accueil connecté Univ'hair">
  </div>
  <sub>
    Les pages d'accueil étant non authentifié, puis connecté.
  </sub>
  <hr class="dividerT2">
  <div class="maquettesSolo">
    <img src="assets/images/univhair_connexion.png" alt="Site connexion Univ'hair">
  </div>
  <sub>
    La page d'authentification.
  </sub>
  <hr class="dividerT2">
  <div class="maquettes">
    <img src="assets/images/univhair_horaire.png" alt="Site horaires Univ'hair">
    <img src="assets/images/univhair_contact.png" alt="Site contact Univ'hair">
  </div>
  <sub>
    Les pages d'horaire et de contact.
  </sub>
  <hr class="dividerT2">
  <h2>Le Git Repository</h2>
  <p>
    Le site n'est pas soumis à une clause de confidentialité. Le Git Repository est disponible.
  </p>
  <a class="more" mat-button href="https://github.com/lauralyotard/Univhair" target="_blank">A ce lien</a>
</div>
<app-footer></app-footer>
