/*---------------------------------PROGEST-------------------------------------*/
#univhair {
  width: 60%;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  padding: 30px;
}

#univhair h1 {
  color: #ED7990;
}

#univhair h2 {
  color: #ED7990;
}

#univhair p {
  margin: auto;
  width: 80%;
  text-align: justify;
}

#univhair .maquettes {
  display: flex;
}

#univhair .maquettesSolo {
  display: flex;
}

#univhair .maquettesSolo img {
  margin: auto;
  padding: 5px;
  width: 100%;
}

@media (max-width: 800px) {
  #univhair .maquettes {
    flex-direction: column;
  }

  #univhair .maquettes img {
    margin: auto;
    padding: 5px;
    width: 100%;
  }

  #univhair img {
    margin: auto;
    width: 80%;
  }
}

@media (min-width: 801px) {
  #univhair .maquettes {
    flex-direction: row;
  }

  #univhair .maquettes img {
    margin: auto;
    padding: 5px;
    width: 50%;
  }

  #univhair img {
    padding-top: 5px;
    margin: auto;
    width: 30%;
  }
}
/*---------------------------------DIVIDERS-------------------------------------*/

.divider {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

.dividerT2 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
}

/*---------------------------------BUTTONS-------------------------------------*/

.back {
  margin-top: 20px;
  color: #757575;
  border: 1px solid #757575;
}

.more {
  margin-bottom: 40px;
  margin-top: 20px;
  color: #757575;
  border: 1px solid #757575;
}

.more:hover {
  color: #ED7990;
  border: 1px solid #ED7990;
}
