<div id="confidentialite">
  <a class="back" mat-button routerLink=""><mat-icon>arrow_back</mat-icon></a>
  <h1>Politique de confidentialité</h1>
  <div id="short">
    <p>www.lauralyotard.fr</p>
    <p>Laura Lyotard</p>
    <p>Type de site : Portfolio</p>
  </div>
  <div id="contenu">
    <h2>Le but de cette politique de confidentialité</h2>
    <p>
      Le but de cette politique de confidentialité est d'informer les utilisateurs de notre site
      des données personnelles que je recueille ainsi que les informations suivantes, le cas échéant :
    </p>
    <ul>
      <li>Les données personnelles que je recueill.</li>
      <li>L'utilisation des données recueillies.</li>
      <li>La politique de cookies du site.</li>
    </ul>
    <h2>Données personnelles que je collecte</h2>
    <p>
      Je ne collecte, ne stocke ni n'utilise aucune donnée utilisateur sur mon site. Dans le cas où j'ai besoin
      de recueillir vos données, je veillerai à vous fournir un préavis de ce recueil de données.
    </p>
    <h2>Politique sur les cookies</h2>
    <p>
      Un cookie est un petit fichier, stocké sur le disque dur d'un utilisateur par le site Web. Son but est de recueillir
      des données relatives aux habitudes de navigation de l'utilisateur.
    </p>
    <p>
      Cependant, aucune cookie n'est utilisé sur l'ensemble du site.
    </p>
    <h2>Modifications</h2>
    <p>
      Cette politique de confidentialité peut être modifiée ponctuellement afin de rester en conformité avec la loi
      et de tenir compte de tout changement concernant le processus de collecte des données. Je recommande à mes utilisateurs de
      vérifier ma politique de temps à autre pour s'assurer qu'ils soient informés de toute mise à jour.
    </p>
    <h2>Entrée en vigueur</h2>
    <p>Date d'entrée en vigueur le : 5 avril 2021.</p>
  </div>
</div>
<!--
<div class="title">
  <span>Politique de confidentialité</span>
</div>
<div class="main">
  <p>www.lauralyotard.fr</p>
  <p>Laura Lyotard</p>
  <p>Type de site : Portfolio</p>
</div>
<h2 class="titleSecond">Le but de cette politique de confidentialité</h2>
<div class="text">
  <p>Le but de cette politique de confidentialité est d'informer les utilisateurs de notre site
    des données personnelle que nous recueillerons ainsi que les informations suivantes, le cas échéant :</p>
  <ul>
    <li>Les données personnelles que nous recueillerons</li>
    <li>L'utilisation des données recueillies</li>
    <li>La politique de cookies du site</li>
  </ul>
</div>
<h2 class="titleSecond">Données personnelles que nous collections</h2>
<div class="text">
  <p>Nous ne collections, ne stockons ni n'utilisons aucune donnée utilisateur sur notre site. Dans le cas où nous avon besoin
  de recueillir vos données, nous veillerons à vous fournir un préavis de ce recueil de données.</p>
</div>
<h2 class="titleSecond">Politique sur les cookies</h2>
<div class="text">
  <p> Un cookie est petit fichier, stocké sur le disque dur d'un utilisateur par le site Web. Son but est de recueillir
  des données relatives aux habitudes de navigation de l'utilisateur.</p>
  <p>Nous utilisons les types de cookies sur notre site :</p>
  <ul>
    <li><b>Cookies fonctionnels : </b> Nous les utilisons pour mémoriser toutes les sélections que vous faites sur notre site afin qu'elles soient
    sauvegardées pour vos prochaines visites.</li>
  </ul>
</div>
<h2 class="titleSecond">Modifications</h2>
<div class="text">
  <p>
    Cette politique de confidentialité peut être modifiée à l'occasion afin de maintenir la conformité avec la loi
    et de tenir compte de tout changement à notre processus de collecte des données. Nos recommendons à nos utilisateurs de
    vérifier notre politique de temps à autre pour s'assurer qu'ils soient informés de toute mise à jour.
  </p>
</div>
<h2 class="titleSecond">Contact</h2>
<div class="text">
    <p>Si vous avez des questions à nous poser, n'hésitez pas à communiquer avec nous en utilisant : </p>
    <a href="mailto:contact@lauralyotard.fr">contact@lauralyotard.fr</a>
</div>
<h2 class="titleSecond">Entrée en vigueur</h2>
<div class="text">
  <p><i>Date d'entrée en vigueur le : </i> 5 avril 2021.</p>
</div>
-->
