<div class="title">
  <span>Qui suis je ?</span>
</div>
<div class="text">
  <p>Si vous êtes ici, ce n'est sans doute pas par hasard. Vous souhaitez en savoir plus sur mon profil, n'est ce pas ?</p>
  <p><b>Vous êtes au bon endroit !</b></p>
</div>
<div class="text">
  <p>Je suis une développeuse agée de 20 ans en licence MSW CDA au Lycée La Chartreuse Paradis. J'ai de grands projets
  et de grandes ambitions. Tout d'abord, je souhaite accéder à la formation Mastère Développeur Web/Tech Lead de Digital Campus
  à Toulouse et prouver à ma famille ainsi qu'à moi même que j'en suis capable. J'ai toujours adoré l'informatique, c'est pour moi une évidence !</p>
  <p>Après mon BTS SIO, je voulais partir en prépa-mastère à Lyon dans l'école Digital Campus, en alternance. J'ai contacté de nombreuses
  entreprises et malheureusement cela n'a pas pu se concrétiser au vue de la situation sanitaire qui laissait beaucoup de doutes.
  Alors j'ai poursuivi avec mon école actuelle en licence de développement Web, disponible en alternance et initiale. Environ 2 mois après le début de ma formation,
  la crise ayant évolué une des entreprises que j'avais contacté pour mon objectif initial auprès de Digital Campus est revenue vers moi.
  Mon profil les intéressés et m'ont suivi dans mon projet de licence en alternance.</p>
  <p>C'est le début d'une nouvelle et superbe aventure que j'entreprend. Je découvre de nombreuses choses à leur côté et chaque jour est
  une journée enrichissante. Je suis pleine de motivations, d'envie d'apprendre, et surtout de travailler encore davantage.</p>
  <p>C'est grâce à cette histoire que je réalise que malgré un certains de déconvenus.
  J'ai un travail qui me plait, et dans lequel j'ai le sentiment que c'est un plaisir plus qu'un travail. Je suis avec une super équipe
  de développement et une entreprise qui me donne la chance d'acquérir de l'expérience professionnelle. C'est avec leur savoir-être que le savoir-faire de chacun est utilisé à son plus haut potentiel.
  C'est une entreprise avec une humanité que je souhaite à tous de connaître un jour.</p>
  <p>choix orientation pro
  sur de moi
  volonté d'aller en master en alternance suivi par l'entreprise
  comprehension d'un projet d'un point de vue pro</p>
</div>
