/*---------------------------------EXPERIENCES-------------------------------------*/
#experiences {
  width: 80%;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  padding: 30px;
}

#experiences #header {
  font-size: 25px;
  color: #333333;
}

/*---------------------------------EXPERIENCES>CONTAINER-------------------------------------*/

@media (min-width: 801px) {
  .container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
  }

  .container div {
    padding: 10px;
    margin: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: #333333 2px 6px 10px;
  }
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
}

.container div {
  padding: 10px;
  margin: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: #333333 2px 6px 10px;
}

.container h2 {
  color: #56718e;
}

.container h3 {
  color: #56718e;
}

.container div img{
  padding: 10px;
  margin: auto;
  width: 90%!important;
}

/*---------------------------------SECTIONS-------------------------------------*/

#sections {
  margin: auto;
  width: 100%;
}

 #sections h1 {
   color: #56718e;
 }

 #sections h2 {
   color: #56718e;
 }

/*---------------------------------CONTENU-------------------------------------*/
table {
  width: 60%;
  margin: auto;
  text-align: left;
  border: solid 1px #56718e;
  border-collapse: collapse;
}

table tr, th, td {
  font-size: 16px;
  padding: 20px;
  border: solid 1px #56718e;
}

table th {
 background: #333333;
  color: #FFFFFF;
}

table tr:hover {
  background: #56718e;
}

table tr:nth-child(even) {
  background: #bbcbdc;
}
/*---------------------------------COMPLEMENT-------------------------------------*/

#complement {
  display: flex;
  margin: auto;
  margin-top: 10px;
  width: 100%;
}

#complement div{
  padding: 10px;
  margin: 20px;
  width: 80%;
  border-radius: 10px;
  background: #F2BDC7;
  box-shadow: #333333 2px 6px 10px;
}

#complement div h1{
  color: #ffffff;
}

@media (min-width: 801px) {
  #complement {
    flex-direction: row;
  }

  #complement div {
    text-align: left;
  }
}

@media (max-width: 800px) {
  #complement {
    flex-direction: column;
  }

  #complement div {
    text-align: center;
  }
}

#old sup {
  background: #adbccd;
  border-radius: 10px;
  padding: 5px;
}

#old h3 {
  color: #333333;
}

#old p {
  color: #333333;
}

#old {
  margin-top: 20px;
}

/*---------------------------------STAGES-------------------------------------*/

#stages {
  display: flex;
}

#stages div {
  padding: 10px;
  margin: 20px;
  width: 80%;
  border-radius: 10px;
  background: #adbccd;
  color: #333333;
  box-shadow: #333333 2px 6px 10px;
}

#stages div h3 mat-icon {
  color: #cb2323;
}

#stages div h3{
  color: #333333;
  margin: 15px!important;
}

#stages img {
  margin: auto;
  width: 30%!important;
}

#stages div .hauteur {
  height: 150px;
}

@media (min-width: 801px) {
  #stages {
    flex-direction: row;
  }
}

@media (max-width: 800px) {
  #stages {
    flex-direction: column;
  }
}

/*---------------------------------ALTERNANCE-------------------------------------*/

#alternance img {
  margin: auto;
  width: 30%!important;
}

#alternance #bigfiit .hauteur {
  height: 100%;
}

#alternance #bigfiit img{
  width: 40%!important;
}


#alternance #bigfiit {
  padding: 10px;
  margin: auto;
  width: 60%;
  border-radius: 10px;
  background: #adbccd;
  color: #333333;
  box-shadow: #333333 2px 6px 10px;
}

#alternance #bigfiit h3 mat-icon {
  color: #cb2323;
}

#alternance #bigfiit h3{
  color: #333333;
  margin: 15px!important;
}

/*---------------------------------BUTTONS-------------------------------------*/

.back {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333333;
  border: 1px solid #333333;
}

.more {
  margin-top: 40px;
  color: #333333;
  border: 1px solid #333333;
}

.more:hover {
  color: #56718e;
  border: 1px solid #56718e;
}

.kns {
  margin-bottom: 40px;
  color: #333333;
  border: 1px solid #333333;
}

.kns:hover {
  color: #56718e;
  border: 1px solid #56718e;
}

/*---------------------------------DIVIDERS-------------------------------------*/

.divider {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
}

.dividerT2 {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
}
