<div id="experiences">
  <a class="back" mat-button routerLink=""><mat-icon>arrow_back</mat-icon></a>
  <div id="header">
    <p>
      Horaires
    </p>
  </div>
  <div id="sections">
    <hr class="divider">
      <p>{{ infoDate }}</p>
      <p>{{ today }}</p>
      <table>
        <tr>
          <td>Lundi</td>
          <td>09h00 - 12h00<br/>
            14h00 - 18h00</td>
        </tr>
        <tr>
          <td>Mardi</td>
          <td>09h00 - 12h00<br/>
            14h00 - 18h00</td>
        </tr>
        <tr>
          <td>Mercredi</td>
          <td>09h00 - 12h00<br/>
            14h00 - 18h00</td>
        </tr>
        <tr>
          <td>Jeudi</td>
          <td>09h00 - 12h00<br/>
            14h00 - 18h00</td>
        </tr>
        <tr>
          <td>Vendredi</td>
          <td>09h00 - 12h00<br/>
            14h00 - 18h00</td>
        </tr>
        <tr>
          <td>Samedi</td>
          <td>09h00 - 16h00</td>
        </tr>
        <tr>
          <td>Dimanche</td>
          <td>Fermé</td>
        </tr>
      </table>
  </div>
</div>
<app-footer></app-footer>
