@media (min-width: 801px) {
  mat-toolbar a {
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 20px;
    transition: all 0.5s ease;
  }

  mat-toolbar #home {
    padding-left: 0!important;
    color: #ff9360;
    font-size: 30px;
  }

  mat-toolbar a:hover {
    color: #8cc043;
  }

  mat-toolbar div {
    display: none;
  }

  mat-toolbar img {
    height: 70%;
    padding-right: 5px;
  }
}

@media (max-width: 800px) {
  a {
    display: none;
  }

  #unique {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
  }

  #homeMobile {
    color: #FF9360;
    font-size: 30px;
    font-variant: petite-caps;
  }

  mat-toolbar div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  mat-toolbar img {
    height: 70%;
  }
}
