<div class="title">
  <span>Mises à jour</span>
</div>
<div class="main">
  <p>www.lauralyotard.fr</p>
  <p>Versions et mises à jour</p>
</div>
<h2 class="titleSecond">Mise à jour</h2>
<div class="text">
  <sup>MAJ 2</sup>
  <p>Effectif dans cette mise à jour : </p>
  <ul>
    <li>Accessibilité améliorée par un ascenceur de page automatique afin de revenir sans effort en haut de la page.</li>
    <li>Ajout de la page <b>CGU</b>.</li>
    <li>Modification de la page <b>d'accueil</b>.</li>
    <li>Modification de la page <b>passions</b>.</li>
    <li>Modification de la page <b>atouts et compétences</b>.</li>
    <li class="date"><i>Date : 10 avril 2021</i></li>
  </ul>
</div>
<h2 class="titleSecond">Mise à jour</h2>
<div class="text">
  <sup>MAJ 1</sup>
  <p>Effectif dans cette mise à jour : </p>
  <ul>
    <li>Ajout de la page <b>parcours</b>.</li>
    <li>Ajout de la page <b>passions</b>.</li>
    <li>Ajout de la page <b>atouts et compétences</b>.</li>
    <li class="date"><i>Date : 9 avril 2021</i></li>
  </ul>
</div>
<h2 class="titleSecond">Version 1.0</h2>
<div class="text">
  <p>Effectif dans cette version : </p>
  <ul>
    <li>Finition du contenu.</li>
    <li>Site en ligne.</li>
    <li class="date"><i>Date : 7 avril 2021</i></li>
  </ul>
</div>
<h2 class="titleSecond">Version 0</h2>
<div class="text">
  <p>Effectif dans cette version : </p>
  <ul>
    <li>Mise en place de l'architecture.</li>
    <li>Mise en place de la charte graphique.</li>
    <li>Mise en conformité.</li>
    <li>Création du contenu.</li>
    <li>Site offline jusqu'à la version 1.0.</li>
    <li class="date"><i>Date : 5 avril 2021</i></li>
  </ul>
</div>
