<div id="maintenance">
  <a class="back" mat-button routerLink=""><mat-icon>arrow_back</mat-icon></a>
  <h1>Mises à jour et maintenance</h1>
  <div id="short">
    <p>www.univhairlantriac.fr</p>
    <p>Versions et mises à jour</p>
  </div>
  <div id="contenu">
    <h2>Mise à jour</h2>
      <sup>MAJ 1</sup>
      <p>Effectif dans cette mise à jour : </p>
      <ul>
        <li>Ajout d'un carousel au menu en autoplay.</li>
        <li class="date">Date : 19 juin 2021</li>
      </ul>
    <h2>Version 0</h2>
      <p>Effectif dans cette version : </p>
      <ul>
        <li>Mise en place de l'architecture.</li>
        <li>Mise en place de la charte graphique.</li>
        <li>Mise en conformité.</li>
        <li>Création du contenu.</li>
        <li>Site offline jusqu'à la version 1.0.</li>
        <li class="date">Date : 18 juin 2021</li>
      </ul>
  </div>
</div>
<app-footer></app-footer>
