<div class="title">
  <span>Mon parcours</span>
</div>
<div id="mobile">
  <h1>Laura Lyotard</h1>
  <h2>Développeur Web</h2>
  <span>Autodidacte et disciplinée, je suis une jeune développeuse qui souhaite gagner en expérience et travailler dans un domaine qui me passionne.</span>
</div>
<div>
  <mat-grid-list id="Desktop" cols="1" rowHeight="3:1">
    <mat-grid-tile>
          <div id="message">
            <h1>Laura Lyotard</h1>
            <h2>Développeur Web</h2>
            <p>Autodidacte et disciplinée, je suis une jeune développeuse qui souhaite gagner en expérience et travailler dans un domaine qui me passionne.</p>
          </div>
          <img src="assets/images/cover_parcours.jpg" alt="Cover Parcours" width="100%">
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="title">
  Présentation de mon parcours
</div>
<div class="titleSecond">
  <span>Parcours professionnel</span>
</div>
<div id="pro">
  <div>
    <!--KNS-->
    <p class="year">Novembre 2020 à aujourd'hui</p>
    <p class="name"><b>KNS, Kernel Network Services</b> - Lyon, Auvergne-Rhône-Alpes</p>
    <p class="work">
      Développement sur la plateforme de sport en ligne <b>Big Fiit</b>.
      Maquettage des pages, rédaction du cahier des charges, création avec <b>Angular</b>.
    </p>
    <p class="url"><i>URL : <a href="https://app.bigfiit.com" target="_blank">app.bigfiit.com</a></i></p>
  </div>
  <!--UNIV'HAIR-->
  <div>
    <p class="year">Janvier 2020 à Février 2020</p>
    <p class="name"><b>Univ'hair Coiffure</b> - Lantriac, Auvergne-Rhône-Alpes</p>
    <p class="work">
      Création d'un site professionnel pour le salon de coiffure Univ'hair.
      Maquettage du site, création de la charte graphique, installation du système de sécurité
      avec base de données, référencement, création avec <b>Symfony</b>.
    </p>
  </div>
  <!--PROGEST-->
  <div>
    <p class="year">Mai 2019 à Juin 2019</p>
    <p class="name"><b>Progest43</b> - Blavozy, Auvergne-Rhône-Alpes</p>
    <p class="work">
      Migration de la partie comptabilité Access en version Web de la Fédération Française de Triathlon.
      Maquettage des pages, suivi de la charte graphique du Site Officiel,
      mise en place du système de sécurité. Connexion avec la base de données par Microsoft SQLServer.
    </p>
  </div>
</div>
<div>
</div>
<div class="titleSecond">
  <span>Parcours scolaire</span>
</div>
<div id="school">
  <!--MSW CDA-->
  <div>
    <p class="year">2020 à 2021</p>
    <p class="name"><b>Licence Mobile Smartphone Web, option Concepteur et Développeur d'Applications</b></p>
    <p><i>La Chartreuse Paradis, Brives Charensac, Auvergne-Rhône-Alpes</i></p>
    <p class="work">
      Concevoir, analyser, paramétrer et coder des solutions logicielles.<br/>
      En alternance avec l'entreprise KNS.
    </p>
  </div>
  <!--BTS SIO-->
  <div>
    <p class="year">2018 à 2020</p>
    <p class="name"><b>BTS Services Informatique aux Organisations, option Solutions Logicielles et Applications Métiers</b></p>
    <p><i>La Chartreuse Paradis, Brives Charensac, Auvergne-Rhône-Alpes</i></p>
    <p class="work">
      Suivi du cycle de vie des applications, de l’analyse des besoins techniques à la maintenance des programmes.
    </p>
  </div>
  <!--BAC STMG SIG-->
  <div>
    <p class="year">2017 à 2018</p>
    <p class="name"><b>BAC Sciences et Technologies du Management et de la Gestion, option Système d’Information de Gestion </b></p>
    <p><i>La Chartreuse Paradis, Brives Charensac, Auvergne-Rhône-Alpes</i></p>
    <p class="work">
      Analyse des manipulations à informatiser, apprentissage des langages informatiques et étude des technologies associées.
    </p>
  </div>
</div>
