<app-menu></app-menu>
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile><img src="assets/images/jeux.jpeg" width="100%" alt="jeux"><a [routerLink]="['/jeux']"><span>JEUX</span></a></mat-grid-tile>
  <mat-grid-tile><img src="assets/images/jetbrain.png" width="80%" alt="jeux"><a [routerLink]="['/dev']"><span>DEVELOPPEMENT</span></a></mat-grid-tile>
  <mat-grid-tile><img src="assets/images/guitare.jpg" width="100%" alt="jeux"><a [routerLink]="['/musique']"><span>MUSIQUE</span></a></mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
</mat-grid-list>
<app-footer></app-footer>
