/*---------------------------------PROJETS-------------------------------------*/
#photos {
  width: 80%;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  padding: 30px;
}

/*---------------------------------PROJETS>CONTAINER-------------------------------------*/

.container {
  box-shadow: #333333 2px 8px 10px;
  margin: auto;
  width: 90%;
}
.container h2 {
  color: #9e6d39;
}

@media (min-width: 801px) {
  #galerie {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  #galerie {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}



/*---------------------------------CARD-----------------------------------------*/

#galerie mat-card {
  margin: 10px;
  margin-bottom: 20px;
  width: 40%;
}

/*---------------------------------BUTTONS-------------------------------------*/

.back {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333333;
  border: 1px solid #333333;
}
