<div id="photos">
  <a class="back" mat-button routerLink=""><mat-icon>arrow_back</mat-icon></a>
  <div class="container">
    <h2>Galerie</h2>
    <div id="galerie">
      <mat-card>
        <mat-card-header>
          <mat-card-title>TITLE EXAMPLE</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
           TEXT EXAMPLE
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="addOn(1)">LIKE {{ add1 }}</button>
          <button mat-button>PARTAGER</button>
        </mat-card-actions>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>TITLE EXAMPLE</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            TEXT EXAMPLE
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="addOn(2)">LIKE {{ add2 }}</button>
          <button mat-button>PARTAGER</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
