<div id="progest">
  <a class="back" mat-button routerLink="/projets"><mat-icon>arrow_back</mat-icon></a>
  <h1>Projet de conversion Access en Web</h1>
  <div id="triathlon">
    <img id="logo" alt="Logo Triathlon" src="assets/images/triathlon.svg">
  </div>
  <h2>L'objectif</h2>
  <p>
    L’objectif principal du projet était de transférer une interface accessible via Access en version Web disponible depuis le net, pour la Fédération
    Française de Triathlon. Ce site avait pour but d'améliorer l'usage actuel des utilisateurs. Il était essentiel de rendre le site plus intuitif, plus fluide
    et plus léger. Les pages Access servaient pour la consultation et saisie de la comptabilité de la Fédération.
  </p>
  <hr class="dividerT2">
  <p>
    Le site a été développé sur l'architecture logicielle Modèle-Vue-Contrôleur.
  </p>
  <hr class="dividerT2">
  <p>
    Le plus grand défi a été de connecter et de travailler avec les données existantes en base. Celles-ci se trouvaient sur une base
    Microsoft SQL Server. Comme il y avait énormément de datas, il fallait générer des vues afin de faire appel à des requêtes simples et
    minimiser le temps de chargement des données appelées.
  </p>
  <hr class="dividerT2">
  <p>
    Le second point principal du projet a été de segmenter les autorisations d'accès avec des pages de connexion et des restrictions d'accès
    rôle. Il fallait sécuriser l'ensemble des pages pour supprimer tout risque qu'un utilisateur se retrouve sur
    une page où l'accès lui était restreint.
  </p>
  <p>
    Un dernier point essentiel a été de composer la charte graphique du site. Etant donné, qu'il émane d'une base Access, il n'avait aucune
    réelle identité graphique. Le site concernant Fédération Française de Triathlon, les mêmes couleurs que celle présentes sur le site
    officiel ont été utilisées.
  </p>
  <hr class="dividerT2">
  <a class="more" mat-button href="https://www.fftri.com" target="_blank">Voir le Site de la Fédération</a>
  <h2>Le Git Repository</h2>
  <hr class="dividerT2">
  <p>
    Le site est soumis à une clause de confidentialité. Seules des captures d'écran du Git Repository sont autorisées.
  </p>

  <hr class="dividerT2">
  <div id="maquettes">
    <img src="assets/images/fftri_all.png" alt="Git Repository Progest Complet">
    <img src="assets/images/fftri_include.png" alt="Git Repository Progest Include">
  </div>
  <sub>
    Page du Git Repository de la solution logicielle Web Progest43 pour la Fédération Française de Triathlon.
  </sub>
</div>
<app-footer></app-footer>
