/*---------------------------------CGU-------------------------------------*/
#cgu {
  width: 80%;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  padding: 30px;
  color: #333333;
}

#cgu #short {
  color: #56718e;
}

/*---------------------------------CONFIDENTIALITE>CONTENU-------------------------------------*/

#contenu {
  text-align: left;
}

#contenu h2{
  color: #56718e;
}

/*---------------------------------BUTTONS-------------------------------------*/

.back {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333333;
  border: 1px solid #333333;
}
