/*---------------------------------CGU-------------------------------------*/
#cgu {
  width: 60%;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  padding: 30px;
  color: #757575;
}

#cgu #short {
  color: #ed7990;
}

/*---------------------------------CONFIDENTIALITE>CONTENU-------------------------------------*/

#contenu {
  text-align: left;
}

#contenu h2{
  color: #ed7990;
}

/*---------------------------------BUTTONS-------------------------------------*/

.back {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #757575;
  border: 1px solid #757575;
}
