<div id="contact">
  <a class="back" mat-button routerLink=""><mat-icon>arrow_back</mat-icon></a>
  <h1>Contacter Univhair Coiffure</h1>
  <h2>Pour prendre rendez-vous :</h2>
  <h2><a href="tel:+330471055020">04.71.05.50.20</a></h2>
  <h2>L'adresse du salon :</h2>
  <h2><a href="https://www.google.fr/maps/place/Univ'Hair/@45.0000897,4.0025686,817m/data=!3m2!1e3!4b1!4m5!3m4!1s0x47f5f4068235eae9:0xb3fbfea9ffb9bd4f!8m2!3d45.0001114!4d4.0047791" target="_blank">Rue du Lavoir, 43260 Lantriac</a></h2>
  <hr class="dividerT2">
  <p>Pour toutes questions ou demande à propos du site internet www.univhairlantriac.fr, veuillez prendre contact par adresse e-mail : <a href="mailto:contact@lauralyotard.fr">contact@lauralyotard.fr</a>. Je vous prie de préciser votre identité ainsi que le sujet de votre e-mail, merci.</p>

</div>
<app-footer></app-footer>
