/*---------------------------------CONTACT-------------------------------------*/
#contact {
  width: 60%;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  padding: 30px;
  color: #757575;
}

#contact img {
  margin: auto;
  width: 50%!important;
  padding-bottom: 10px;
}

#contact a {
  text-decoration: none;
  color: #333333;
}

#contact a:hover {
  color: #ed7990;
}

/*---------------------------------BUTTONS-------------------------------------*/

.back {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #757575;
  border: 1px solid #757575;
}

