@media (min-width: 800px) {
  #Desktop mat-grid-tile {
    background: #333333;
  }

  #Desktop mat-grid-tile img{
    transition: all 1s ease;
  }

  #Desktop mat-grid-tile img:hover{
    transform:scale(1.25);
    opacity: 50%;
  }

  #Desktop mat-grid-tile a{
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    position: absolute;
    color: #FFFFFF;
    border-radius: 10px;
    background: #333333;
    transition: all 0.5s ease;
  }

  #Desktop mat-grid-tile a:hover{
    background: #FF9360;
  }

  #Mobile {
    display: none;
  }
}

@media (max-width: 800px) {
  #Desktop {
    display: none;
  }

  #Mobile mat-grid-tile {
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 5px;
    background: #FF9360;
  }

  #Mobile #red {
    background: #ff3f3f;
  }

  #Mobile #orange {
    background: #ff953f;
  }

  #Mobile #yellow {
    background: #ffd23f;
  }

  #Mobile #green {
    background: #53b700;
  }

  #Mobile #blue {
    background: #3fb2ff;
  }

  #Mobile #purple {
    background: #6c32ff;
  }


}
