<mat-grid-list id="Desktop" cols="3" rowHeight="2:1">
  <mat-grid-tile class="green"><img style="opacity: 30%" src="assets/images/cover_parcours.jpg" width="100%" alt="Mon parcours"><a [routerLink]="['/parcours']"><mat-icon>school</mat-icon> Mon parcours</a></mat-grid-tile>
  <mat-grid-tile><img style="opacity: 30%" src="assets/images/guitar.jpg" width="100%" alt="Mes passions"><a [routerLink]="['/passions']"><mat-icon>favorite</mat-icon> Mes passions</a></mat-grid-tile>
  <mat-grid-tile><img style="opacity: 30%" src="assets/images/le_code.jpg" width="100%" alt="Mon profil"><a [routerLink]="['/who-i-am']"><mat-icon>star</mat-icon> Ma présentation</a></mat-grid-tile>
  <mat-grid-tile class="pink"><img style="opacity: 30%" src="assets/images/bigfiit.png" width="50%" alt="Big Fiit"><a [routerLink]="['/bigfiit']"><mat-icon>create</mat-icon> BigFiit</a></mat-grid-tile>
  <mat-grid-tile class="blue"><img style="opacity: 30%" src="assets/images/trello.jpg" width="100%" alt="Trello"><a href="https://trello.com/b/kgywew7D/roadmap-lauralyotardfr" target="_blank"><mat-icon>info</mat-icon> RoadMap</a></mat-grid-tile>
  <mat-grid-tile><a [routerLink]="['/building']"><mat-icon>construction</mat-icon> En construction</a></mat-grid-tile>
</mat-grid-list>

<mat-grid-list id="Mobile" cols="1" rowHeight="4:1">
  <mat-grid-tile [routerLink]="['/parcours']"><mat-icon id="learn">school</mat-icon> Mon parcours</mat-grid-tile>
  <mat-grid-tile [routerLink]="['/passions']"><mat-icon id="favorite">favorite</mat-icon> Mes passions</mat-grid-tile>
  <mat-grid-tile [routerLink]="['/who-i-am']"><mat-icon id="star">star</mat-icon> Qui suis je ?</mat-grid-tile>
  <mat-grid-tile [routerLink]="['/bigfiit']"><mat-icon id="create">create</mat-icon> BigFiit</mat-grid-tile>
  <mat-grid-tile><a id="lientrello" href="https://trello.com/b/kgywew7D/roadmap-lauralyotardfr" target="_blank"><mat-icon id="trello">info</mat-icon>RoadMap</a></mat-grid-tile>
  <mat-grid-tile [routerLink]="['/building']"><mat-icon>construction</mat-icon> En construction</mat-grid-tile>
</mat-grid-list>
