<div id="home">
  <h1>Univ'hair coiffure</h1>
  <h2>Lantriac</h2>
  <p>Bienvenue sur le site de Univ'hair Coiffure à Lantriac.</p>
  <div class="splide">
    <div class="splide__track">
      <div class="splide__list">
        <div class="splide__slide"><img src="assets/images/hairdresser1.png" alt="hairdresser"></div>
        <div class="splide__slide"><img src="assets/images/hairdresser2.png" alt="hairdresser"></div>
        <div class="splide__slide"><img src="assets/images/hairdresser3.png" alt="hairdresser"></div>
        <div class="splide__slide"><img src="assets/images/hairdresser4.png" alt="hairdresser"></div>
        <div class="splide__slide"><img src="assets/images/hairdresser5.png" alt="hairdresser"></div>
        <div class="splide__slide"><img src="assets/images/hairdresser6.png" alt="hairdresser"></div>
      </div>
    </div>

    <div class="splide__progress">
      <div class="splide__progress__bar">
      </div>
    </div>
  </div>
  <div id="menu">
    <a mat-fab href="#home">Accueil</a>
    <a mat-fab href="#informations">Infos</a>
    <a mat-fab [routerLink]="['/horaires']">Horaires</a>
    <a mat-fab [routerLink]="['/photos']">Galerie</a>
    <a mat-fab [routerLink]="['/contact']">Contact</a>
  </div>
  <hr class="divider">
  <div id="informations">
    <h2>Les informations rapides</h2>
    <p>
      Numéro de téléphone :
    </p>
    <p class="info"><a href="tel:+33471055020">04.71.05.50.20</a></p>
    <hr class="dividerT2">
    <p>
      Adresse :
    </p>
    <p class="info"><a href="https://www.google.fr/maps/place/Univ'Hair/@45.0000897,4.0025686,817m/data=!3m2!1e3!4b1!4m5!3m4!1s0x47f5f4068235eae9:0xb3fbfea9ffb9bd4f!8m2!3d45.0001114!4d4.0047791">Rue du Lavoir, 43260 Lantriac</a></p>
  </div>
  <a class="more" mat-button [routerLink]="['/horaires']">Voir les horaires</a>
</div>
<app-footer></app-footer>
