<div id="projets">
  <a class="back" mat-button routerLink=""><mat-icon>arrow_back</mat-icon></a>
  <div class="container">
    <div>
      <h2>Mes projets</h2>
      <p>
        Durant mon apprentissage, j'ai eu l'occasion d'acquérir une pluralité de compétences.
      </p>
      <h3>Principaux Frameworks</h3>
      <ul>
        <li>Angular</li>
        <li>Symfony</li>
      </ul>
      <h3>Principaux langages</h3>
      <ul>
        <li>HTML/CSS/SCSS</li>
        <li>JavaScript/TypeScript</li>
        <li>PHP</li>
        <li>SQL</li>
        <li>C#</li>
      </ul>
    </div>
    <div>
      <img src="assets/images/projects.jpg" alt="photo de projet">
    </div>
  </div>
  <a class="more" mat-button [routerLink]="['/progest']">Access en version Web Progest43</a>
  <a class="more" mat-button [routerLink]="['/univhair']">Site Web Univ'hair Coiffure</a>
  <a class="more" mat-button [routerLink]="['/bigfiit']">Sport en ligne Big Fiit</a>
</div>
<!--
<div class="title">
  Le code
</div>
<div class="show">
  <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile>
      <img src="assets/images/le_code.jpg" alt="Cover Code" width="100%">
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="text">
  <p>
    Depuis mes 10 ans, je suis dans le monde numérique. Je commençais avec des dessins de princesses sur l'ordinateur
    familiale. Petit à petit, c'était des jeux de musique, de coiffure et autres jeux pour enfants. Plus tard,
    j'ai eu mon premier ordinateur portable. J'ai commencé à travailler dessus avant, évidemment, de jouer aux jeux
    vidéos. Le jeux phare étant Minecraft. J'y passais beaucoup de temps.
  </p>
  <p>
    Peu après j'ai découvert le code. Et j'ai fais un apprentissage du développement web en autodidacte.
    Ce après quoi, j'ai rejoins sans grande surprise, une filière de développement dans mes études.
    Le Bac STMG SIG. J'avais un peu d'avance sur le programme. C'est en BTS, avec l'acquisition d'un
    nouvel ordinateur que j'ai réellement pu m'épanouir. Autant dans la difficulté des travaux demandés
    que les projets libres.
  </p>
  <p>
    Dans la continuité de mes études, la découverte de l'alternance a était comme une révélation. J'ai le sentiment
    permanent d'être utile, d'aider mes prochains et d'être pleinement intégrée au sein d'une équipe. Je peux profiter
    du savoir des autres et leur partager le mien en retour. Un échange bénéfique à tous. J'ai trouvé après ces années
    d'apprentissage scolaire, ce qui me faisait plaisir dans le développement. Etre utile pour tous dans mon domaine
    et suffisamment le maîtriser pour le partager à chacun.
  </p>
  <p id="thanks"><i>
    Un grand remerciement auprès de KNS qui m'a permis d'apprendre et redécouvrir le plaisir du développement sous tous
    ses angles.
  </i></p>
</div>
<div class="title">
  <span>La photographie</span>
</div>
<div class="show">
  <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile>
      <img src="assets/images/photography.jpeg" alt="Cover Photography" width="100%">
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="text">
  <p>
    Principalement, je photographie des payages de ma région ou de mes voyages mais bien souvent
    je profite de ma petite boule de poil à 4 pattes pour en faire le parfait modèle.
  </p>
  <p id="infosinsta">
    Pour plus d'informations, rendez-vous sur
    <span id="social">
        <a href="https://www.instagram.com/lauralyotard/?hl=fr" target="_blank"><img src="assets/images/insta.png" alt="Instagram"></a>
    </span>
  </p>
</div>
<div>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile>
      <img src="assets/images/pic6.jpeg" alt="Cover Photography" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/images/pic2.jpeg" alt="Cover Photography" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/images/pic3.jpeg" alt="Cover Photography" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/images/pic4.jpeg" alt="Cover Photography" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/images/pic5.jpeg" alt="Cover Photography" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/images/pic1.jpeg" alt="Cover Photography" width="140%">
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="title">
  La musique
</div>
<div id="musicDesktop">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <p>
        En 2014, j'ai eu la chance d'avoir un piano pour mon anniversaire. Un synthétiseur plus exactement.
        J'ai parcouru les notes au travers des années au fil de mes pensées, de mes envies, de mes sentiments.
        Jouer du piano, c'est un moment de calme rien qu'à moi.
      </p>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/images/piano.jpg" alt="Cover Piano" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/images/guitar.jpg" alt="Cover Guitare" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <p>
        Plus tard, on m'a offert une guitare folk d'occasion pour faire mes débuts et découvrir ce nouvel instrument.
        D'abord, c'était assez déroutant de me retrouver avec un instruments à cordes. Puis avec un peu d'entrainement,
        j'ai commencé à faire quelques musiques, bien que sommaire, je suis assez fière de moi. Et encore une fois jouer
        de la guitare, c'est un moment de calme rien qu'à moi. Et enfin, grâce à mes économies j'ai pu investir dans une guitare
        classique ainsi que des accessoires supplémentaires.
      </p>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div id="musicMobile">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <img src="assets/images/piano.jpg" alt="Cover Piano" width="100%">
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="assets/images/guitar.jpg" alt="Cover Guitare" width="100%">
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="text show">
  <p>
    En 2014, j'ai eu la chance d'avoir un piano pour mon anniversaire. Un synthétiseur plus exactement.
    J'ai parcouru les notes au travers des années au fil de mes pensées, de mes envies, de mes sentiments.
    Jouer du piano, c'est un moment de calme rien qu'à moi.
  </p>
  <p>
    Plus tard, on m'a offert une guitare folk d'occasion pour faire mes débuts et découvrir ce nouvel instrument.
    D'abord, c'était assez déroutant de me retrouver avec un instruments à cordes. Puis avec un peu d'entrainement,
    j'ai commencé à faire quelques musiques, bien que sommaire, je suis assez fière de moi. Et encore une fois jouer
    de la guitare, c'est un moment de calme rien qu'à moi. Et enfin, grâce à mes économies j'ai pu investir dans une guitare
    classique ainsi que des accessoires supplémentaires.
  </p>
</div>
<div class="title">
  L'art
</div>
<div class="show">
  <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile>
      <img src="assets/images/paint.jpg" alt="Cover Paint" width="100%">
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="text">
  <p>
    L'Art, c'est un vaste univers.
  </p>
  <p>
    Tout d'abord, la peinture et le dessin. C'est une chose que j'affectionne depuis longtemps maintenant. Depuis que j'ai su
    tenir un stylo, je me suis mise à dessiner et colorier. Au début c'était des gribouillis d'enfants avant de devenir
    des objets, animaux ou paysages assez bien réalisés.  Je pouvais et je peux toujours passer des heures à dessiner et peindre.
    Je me sens tout de même plus à l'aise sur le dessin. Au crayon à papier, le dessin à l'état brut.
  </p>
  <p>
    Des années plus tard, en même temps ou presque que l'arrivée de mon nouvel ordinateur j'ai commencé à faire des dessins numériques.
    Grâce à Photoshop. Je faisais divers projets, comme des retouches de photos, des montages plutôt délirants et je m'amuse
    encore à faire de nouvelles créations. Bien que sommaire, c'est un passe temps que j'apprécie beaucoup.
  </p>
</div>
<div class="show">
  <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile>
      <img src="assets/images/write.jpg" alt="Cover Write" width="100%">
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="text">
  <p>
    Parrallèlement au dessin et à la peinture, je passais mon temps à écrire, des histoires, des poésies ou seulement des
    moments de ma vie. C'était autant une envie, qu'un besoin. Mettre sur papier tous mes rêves et désirs. Grâce à ce
    petit talent, j'ai eu l'opportunité de participer à un concours d'écriture sur la citoyenneté durant ma scolarité.
    Ce dernier m'a permis de voyager à Paris pour la remise des prix. Bien qu'ayant eu la troisième place, j'en suis très
    heureuse car en toute franchise je ne pensais pas gagner. Comme quoi, il ne faut jamais perdre espoir et se dire que
    tout est possible !
  </p>
  <p class="url"><i>Article sur le concours de la cityonneté : <a href="https://www.leprogres.fr/haute-loire/2016/06/14/laura-lyotard-laureate-du-concours-ldh" target="_blank">Laura Lyotard, lauréate du concours LDH</a></i></p>
</div>
-->
