<div id="projets">
  <a class="back" mat-button routerLink=""><mat-icon>arrow_back</mat-icon></a>
  <div class="container">
    <div>
      <h2>Mes projets</h2>
      <p>
        Durant mon apprentissage, j’ai pu acquérir de nombreuses compétences.
      </p>
      <h3>Principaux Frameworks</h3>
      <ul>
        <li>Angular</li>
        <li>Symfony</li>
      </ul>
      <h3>Principaux langages</h3>
      <ul>
        <li>HTML/CSS/SCSS</li>
        <li>JavaScript/TypeScript</li>
        <li>PHP</li>
        <li>SQL</li>
        <li>C#</li>
      </ul>
    </div>
    <div>
      <img src="assets/images/projects.jpg" alt="photo de projet">
    </div>
  </div>
  <a class="more" mat-button [routerLink]="['/progest']">Access en version Web Progest43</a>
  <a class="more" mat-button [routerLink]="['/univhair']">Site Web Univ'hair Coiffure</a>
  <a class="more" mat-button [routerLink]="['/bigfiit']">Sport en ligne Big Fiit</a>
</div>
<app-footer></app-footer>
