/*---------------------------------PROJETS-------------------------------------*/
#projets {
  width: 60%;
  margin: auto;
  text-align: center;
  background: #FFFFFF;
  padding: 30px;
}

/*---------------------------------PROJETS>CONTAINER-------------------------------------*/

@media (min-width: 801px) {
  .container {
    display: flex;
    flex-direction: row;
    box-shadow: #333333 2px 8px 10px;
    margin: auto;
    width: 80%;
  }
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    box-shadow: #333333 2px 8px 10px;
    margin: auto;
    width: 80%;
  }
}

.container div {
  padding: 10px;
  margin: auto;
  width: 80%;
}

.container h2 {
  color: #F2BDC7;
}

.container h3 {
  color: #F2BDC7;
}

.container div img{
  padding: 10px;
  margin: auto;
  width: 90%!important;
}

.container div ul li{
  color: #757575;
  margin-top: 10px;
  text-align: left;
}

/*---------------------------------BUTTONS-------------------------------------*/

.back {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #757575;
  border: 1px solid #757575;
}

.more {
  margin-top: 40px;
  color: #757575;
  border: 1px solid #757575;
  margin-left: 5px;
  margin-right: 5px;
}

.more:hover {
  color: #F2BDC7;
  border: 1px solid #F2BDC7;
}

/*
div {
  color: #FFFFFF;
  background: #333333;
}

.title {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.text {
  padding-left: 50px;
  padding-right: 50px;
}

.text p{
  margin-bottom: 0;
  padding: 5px;
}

#thanks {
  color: #8cc043;
}

.url a{
  text-decoration: none;
  color: #8cc043;
}

.url a:hover{
  color: #FF9360;
}

#infosinsta {
  display: flex;
}

#social img {
  margin-left: 4px;
  height: 20px!important;
  width: 20px;
}

@media (min-width: 801px) {
  .title {
    color: #FF9360;
  }

  div mat-grid-list mat-grid-tile div h2 {
    color: #FF9360;
  }

  .show {
    display: none;
  }

  #musicMobile {
    display: none;
  }

  #musicDesktop mat-grid-tile p{
    padding: 20px;
    text-align: center;
  }
}

@media (max-width: 800px) {
  div mat-grid-list mat-grid-tile span {
    position: absolute;
    padding: 30px;
    font-size: 30px;
    background: #333333;
    border: 1px solid #FF9360;
    border-radius: 10px;
  }

  .title {
    text-align: center;
    background: #FF9360;
    font-size: 25px;
  }

  #musicDesktop {
    display: none;
  }

  #musicMobile mat-grid-tile p{
    text-align: center;
  }
}
*/
